:root {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
  }

a {
    text-decoration: none;
}

/* ШАПКА */

.header {
    position: relative;
    background-image: url(../images/img/football_767.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -4.5rem -2.5rem;
}

.header::before {
    content: "";
    position: absolute;
    background-color: rgba(12, 3, 39, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.header-container {
    position: relative;
    z-index: 1;
}

.header-container-logo {
    display: flex;
    justify-content: center;
}

.surface-logo {
    width: 10rem;
    margin-top: 2rem;
}

.header-container-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.second-slogan {
    margin-left: 7rem;
    margin-top: 1rem;
}

.buttons-list {
    margin-top: 8rem;
}


.buttons { 
    position: relative;
    padding-bottom: 8rem;
    z-index: 1;
}

.button {
    width: 90%;
    background-color: #5e42b0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.appstore, .googleplay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.store-logo {
    width: 2.5rem;
}

.button-title {
    font-size: 0.9rem;
    color: #fff;
    text-transform: uppercase;
    margin-left: 0.8rem;
}

.button-store-title {
    font-weight: 900;
}

.googleplay {
    margin-top: 1rem;
}

/* ШАПКА */

/* ОСНОВНАЯ ИНФОРМАЦИЯ */

.card {
    position: relative;
}

.card-title , .card-img, .card-info-title, .card-info-text {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.athlets-title, .players-title {
    font-size: 4rem;
    text-transform: uppercase;
    color: #e7e7e7;
}

.card-img {
    display: flex;
    position: absolute;
    justify-content: center;
}

.card-info {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.connection {
    padding-top: 9rem;
    background-color: #fafafa;
    margin-top: 22rem;
}

.collaboration {
    background-color: #f5f4f9;
}

.growth {
    background-color: #5e42b0;
}

.card-info-title {
    display: flex;
    align-items: center;
}

.number {
    font-size: 0.8rem;
    color: #000;
    font-weight: 900;
    border-bottom: 5px solid #5e42b0;
}

.title {
    color: #c1c1c1;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    letter-spacing: 1px;
}

.card-info-text {
    font-size: 1.2rem;
    margin-top: 1rem;
}


.growth .card-info-title .number {
    border-bottom: 5px solid #fff;
}

.growth .card-info-text {
    color: #fff;
}

.players .growth {
    background-color: #090c35;
}

.players .growth .card-info-title .number {
    color: #8765dd;
    border-bottom: 5px solid #fff;
}


.action .card-info {
    padding-top: 0;
}

.action-img {
    width: 100%;
}

.action .card-info {
    position: relative;
}

.action .card-info-title {
    width: fit-content;
    position: absolute;
    left: 1.1rem;
    top: 32.5rem;
    padding: 1rem 1.5rem;
    background-color: #5e42b0;
}

.action .card-info-title .number {
    font-size: 0.8rem;
    color: #f5f6f7;
    border-bottom: 3px solid #8f7bc8;
}

.action .title {
    margin-top: 1rem;
    margin-left: 0.8rem;
}

/* ОСНОВНАЯ ИНФОРМАЦИЯ */
/* ФУТЕР */

.footer {
    position: relative;
    background-image: url(../images/img/game_767.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -4.5rem -2.5rem;
}

.footer::before {
    content: "";
    position: absolute;
    background-color: rgba(12, 3, 39, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.footer-container {
    position: relative;
    z-index: 1;
}

.surface-logo-img {
    position: relative;
    background-color: #7252cf;
    padding: 1rem;
    border-radius: 30%;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    top: 8rem;
}

.footer-title {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.footer-first-title {
    font-size: 3.2rem;
}

.footer-second-title {
    position: relative;
    font-size: 1.3rem;
    color: #8a7eae;
}

.footer .buttons-list{
    margin-top: 7rem;
}

.footer-container-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

/* ФУТЕР */