:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
  }

a {
    text-decoration: none;
}

/* ****** ШАПКА ****** */
.header {
    position: relative;
    background-image: url(../images/img/football_767.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -5.5em -2.5em;
}

.header::before {
    content: "";
    position: absolute;
    background-color: rgba(12, 3, 39, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header-container {
      position: relative;
      z-index: 1;
  }

  .header-container-logo {
      display: flex;
      justify-content: center;
  }

  .surface-logo {
      width: 10em;
      margin-top: 2em;
  }

  .header-container-info {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 11.5em;
      color: #ffffff;
      text-transform: uppercase;
  }

  .second-slogan {
      margin-left: 3em;
      margin-top: 0.5em;
  }

  .buttons-list {
      margin-top: 8em;
  }

  .buttons { 
      position: relative;
      padding-bottom: 8em;
      z-index: 1;
  }

  .button {
      width: 90%;
      background-color: #5e42b0;
      margin-left: auto;
      margin-right: auto;
      border-radius: 30px;
  }

  .appstore, .googleplay {
      display: flex;
      align-items: center;
      padding: 0.5em;
  }

  .store-logo {
      width: 2.5em;
      margin-left: 6em;
  }

  .button-title {
      font-size: 0.7em;
      color: #fff;
      text-transform: uppercase;
      margin-left: 0.8em;
  }

  .button-store-title {
      font-weight: 900;
  }

  .googleplay {
      margin-top: 1em;
  }
  
/* ****** ШАПКА ****** */

/* ****** ОСНОВНАЯ ИНФОРМАЦИЯ ****** */

.cards-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    color: #e7e7e7;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-image {
    position: absolute;
    left: 50%;
}

.footballer {
    left: 5em;
}

.card-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 2em;
    text-transform: uppercase;
    color: #c1c1c1;
    margin-left: 1em;
    padding-top: 1em;
}

.card-text {
    padding-top: 1em;
    padding-bottom: 4em;
}

.connection {
    background-color: #fafafa;
    margin-top: 18em;
    padding-top: 3em;
}

.connection .card-info .title::before {
    content: "01";
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    font-size: 0.6em;
    font-weight: 900;
    color: #000;
    left: 1em;
    margin-top: 0.2em;
}

.collaboration {
    background-color: #f5f4f9;
}

.collaboration .card-info .title::before {
    content: "02";
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    font-size: 0.6em;
    font-weight: 900;
    color: #000;
    left: 1em;
    margin-top: 0.2em;
}

.growth {
    background-color: #5e42b0;
    color: #fff;
}

.growth .card-info .title::before {
    content: "03";
    position: absolute;
    border-bottom: 5px solid #fff;
    font-size: 0.6em;
    font-weight: 900;
    color: #000;
    left: 1em;
    margin-top: 0.2em;
}

.players-growth {
    background-color: #090c35;
}

.players-growth .card-info .title::before {
    content: "03";
    position: absolute;
    border-bottom: 5px solid #fff;
    font-size: 0.6em;
    font-weight: 900;
    color: #8765dd;
    left: 1em;
    margin-top: 0.2em;
}




/* ****** ОСНОВНАЯ ИНФОРМАЦИЯ ****** */
